@font-face {
    font-family: 'Departure Mono'; 
    src: url('/font/DepartureMono.otf'); 
}

body {
    font-family: 'Departure Mono', sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

* {
    padding: 0;
    margin: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 56px;
}

#game-canvas {
    border: 2px solid #CCC;
    background: #EEE;
}

.start_text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.opening_title {
    color: #333;
    font-family: "Departure Mono";
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.opening_text {
    color: #333;
    text-align: center;
    font-family: "Departure Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.start-button {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    border-radius: 4px;
    background: #444;
    color: #EEE;
    font-family: "Departure Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: transparent;
}